include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include scelvis/assets *.css *.js *.png *.eot *.svg *.ttf *.woff *.woff2
recursive-include scelvis/static *.md

include versioneer.py
recursive-include scelvis *.py

include requirements.txt requirements/*.txt
